body {
  background-color: #f5f5f5;
  min-height: 100vh;
}
.auth-container {
  margin-top: 5vh;
}
.tab-content {
  display: none;
}
.tab-content.is-active {
  display: block;
}
.box {
  border-radius: 8px;
  border-top: 4px solid #00d1b2;
}
.icon.is-right {
  pointer-events: initial !important;
  cursor: pointer;
}
/* Estilo para destacar a seleção de perfil */
.profile-selector {
  background: #ebfffc;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}
